#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
  padding: 10px;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #000000;
}
#header4-4 H1 {
  color: #ffffff;
  font-size: 36px;
}
#header4-4 P {
  color: #3d8eb9;
  font-size: 25px;
}
#header4-4 SPAN {
  text-align: right;
}
#features1-5 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-5 .mbr-section__col .mbr-header__text {
  font-size: 24px;
  text-align: center;
}
#features1-6 .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#features1-6 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-7 .mbr-section-title .mbr-header__text {
  font-size: 23px;
}
#features1-7 .mbr-header__subtext {
  font-size: 19px;
}
#msg-box1-g .mbr-header .mbr-header__text {
  color: #2f2f2f;
  font-size: 46px;
}
#msg-box1-g .mbr-article {
  color: #2f2e2e;
  font-size: 20px;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
#content5-n .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#slider-1d P {
  text-align: right;
}
#slider-1d H1 {
  text-align: right;
}
#features1-r P {
  text-align: center;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-18 .nav .link,
#dropdown-menu-2btn-18 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-18 .navbar,
#dropdown-menu-2btn-18 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-18 .dropdown-menu a:hover,
#dropdown-menu-2btn-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-18 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1n .nav .link,
#dropdown-menu-2btn-1n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1n .navbar,
#dropdown-menu-2btn-1n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1n .dropdown-menu a:hover,
#dropdown-menu-2btn-1n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1n .navbar-toggler {
  color: #000000;
}
